button{
    border: none;
    width: 100px;
    height: 100px;
    background-color: rgb(6, 6, 39);
    border-radius: 50%;
    color: #fff;
}
body{
    background-color: rgb(0, 0, 15);
}

#colecte{
    position: absolute;
    top: 0px;
    left: 580px;
    width: 200px;
    height: 60px;
    background-color: white;
    color: black;
    font-size: large;
    text-align: center;
}

#Start{
    background-color: rgb(17, 180, 17);
    position: absolute;
    border-radius: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}